h1 {
    text-align: center;
    border: 1px solid black;
    
}

ul {
    font-size: 17px;
}
 
.container {
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
}



img {
    width: 200px;
    margin: 20px;

}
 .Habilidades{
    color:darkblue;
    font-size: 1em;
    border: 1px solid gray;
 }
 .Formacoes{
    color: darkblue;
    font-size:1em ;
    border: 1px solid gray ;
 }
 .Estudosfuturos{
    color:darkblue ;
    font-size: 1em;
    border:1px solid gray ;
 }
 .TempoLivre{
    color: darkblue;
    font-size: 1em;
    border: 1px solid gray ;
 }
 
 h1{
    font-size: 3em;
 }
 li {
    font-size: 1em;

 }

 