h1 {

    text-align: center;
    border: 1px solid black;
    color: black;
    
}

ul.sobre-Mim {
    font-size: 17px;
    list-style-type: none;
   font-size: 30px;
    align-self: center;
    text-align: center;
    width: 90%;
    color: black;
    border: 3px solid gray;
}
 
.container {
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}



img {
   width: 200px;
   margin: 20px;
border: 4px solid gray   

}



 .caixa{
     color:black;
    font-size: 1em;
    border: 4px solid gray;
    width: 400px;
    height: 330px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1%;
    
 }

 
 h1{
    font-size: 30px;
 }
 



h3{
   font-size: 30px;
}

 


 
body
{
   color: gray;
   background-color:beige;
   text-align: center;
}



.container2{
   display: flex;
   align-items:center;
   gap: 10px;
   justify-content: space-between;
   width:95%;
   margin-left: auto;
   margin-right: auto;
   
}

#frase{
   margin-top: 2%;
}






 