h1 {

    text-align: center;
    border: 1px solid black;
    
}

ul {
    font-size: 17px;
}
 
.container {
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
}



img {
    width: 200px;
    margin: 20px;   
}



 .Habilidades{
     color:black;
    font-size: 1em;
    border: 1px solid gray;
    width: 450px;
    height: 250px; 
    
 }
 .Formacoes{
    color:black;
    font-size:1em ;
    border: 1px solid gray ;
    width: 450px;
    height: 250px;
 }
 .Estudosfuturos{
    color:black ;
    font-size: 1em;
    border:1px solid gray ;
    width:450px;
    height:250px;
 }
 .TempoLivre{
    color:black;
    font-size: 1em;
    border: 1px solid gray ;
    width:450px;
    height:250px;
 }
 
 h1{
    font-size: 30px;
 }
 
 .sobre-Mim {
    font-size: 30px;
    align-self: center;
    text-align: center;
    width: 90%;
}

    


h3{
   font-size: 30px;
}

 


 
body
{
   color: gray;
   background-color:navajowhite;
   text-align: center;
}

.sobre-Mim{
   color: darkblue;
   font-size: 2em;
   
}

.container2{
   display: flex;
}








 